.container {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tab-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
