.container {
  background-color: #282c34;
  min-height: calc(100vh - 70px); /* this accounts for the nav bar */
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: column;
}

.tab-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
