.tab-bar {
  width: 100%;
  display: flex;
  border-top: 1px solid white;
}

.tab-button {
  padding: 10px;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.active {
  color: #61dafb;
}
